<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bruce.designer.dao.MessageMapper">
	
	<!-- 消息摘要 -->
	<select id="queryMessageSummary" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, message, message_type, source_id, from_id, to_id, system_from_id, status,
		create_time,
		update_time, sum(unread) unread from
		(select
		<include refid="Base_Column_List" />
		from tb_message ORDER BY id desc ) aliasMessage
		where to_id= #{id,jdbcType=INTEGER} group by system_from_id;
	</select>

</mapper>