<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<mappers>
		<mapper resource="com/bruce/designer/model/mapper/UserMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/UserFollowMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/UserFanMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AlbumMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AlbumExtendMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AlbumSlideMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/MessageMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/MessageExtendMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/CommentExtendMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/CommentMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AccessTokenInfoMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/TagMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/TagExtendMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/TagAlbumMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/IndexSlideMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AlbumRecommendMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AlbumLikeMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AlbumFavoriteMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AlbumActionLogMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AlbumActionLogExtendMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/UserPushTokenMapper.xml" />

		<!-- 
		<mapper resource="com/bruce/designer/model/mapper/AlbumCounterMapper.xml" />
		-->


		<!-- <mapper resource="com/bruce/designer/model/mapper/UserMessageMapper.xml"/> 
			<mapper resource="com/bruce/designer/model/mapper/FeedDTOMapper.xml" /> <mapper 
			resource="com/bruce/designer/model/mapper/FeedDTOExtendMapper.xml" /> <mapper 
			resource="com/bruce/designer/model/mapper/FeedLiveIndexMapper.xml" /> <mapper 
			resource="com/bruce/designer/model/mapper/FeedTagIndexMapper.xml" /> -->

		<!-- <mapper resource="com/bruce/designer/model/mapper/DesignerMapper.xml" 
			/> -->

	</mappers>

</configuration>
