<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<mappers>
		<mapper resource="com/bruce/designer/bean/mapper/UserMapper.xml" />
		<mapper resource="com/bruce/designer/bean/mapper/AlbumMapper.xml" />
		<mapper resource="com/bruce/designer/bean/mapper/AlbumSlideMapper.xml" /> 
		<mapper resource="com/bruce/designer/bean/mapper/MessageMapper.xml" />
		<mapper resource="com/bruce/designer/bean/mapper/CommentMapper.xml" />
		<mapper resource="com/bruce/designer/bean/mapper/AccessTokenInfoMapper.xml" />
		<mapper resource="com/bruce/designer/bean/mapper/FeedDTOMapper.xml" />
		<mapper resource="com/bruce/designer/bean/mapper/FeedDTOExtendMapper.xml" />
		<mapper resource="com/bruce/designer/bean/mapper/FeedLiveIndexMapper.xml" />
		<mapper resource="com/bruce/designer/bean/mapper/FeedTagIndexMapper.xml" />
		<!-- 
		<mapper resource="com/bruce/designer/bean/mapper/DesignerMapper.xml" />
		-->
		
	</mappers>

</configuration>
