<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<mappers>
		<mapper resource="com/bruce/designer/model/mapper/UserMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/UserFollowMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/UserFansMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AlbumMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AlbumSlideMapper.xml" /> 
		<mapper resource="com/bruce/designer/model/mapper/MessageMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/MessageExtendMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/CommentMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/AccessTokenInfoMapper.xml" />
		<!-- 
		<mapper resource="com/bruce/designer/model/mapper/UserMessageMapper.xml"/>
		<mapper resource="com/bruce/designer/model/mapper/FeedDTOMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/FeedDTOExtendMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/FeedLiveIndexMapper.xml" />
		<mapper resource="com/bruce/designer/model/mapper/FeedTagIndexMapper.xml" />
		-->
		
		<!-- 
		<mapper resource="com/bruce/designer/model/mapper/DesignerMapper.xml" />
		-->
		
	</mappers>

</configuration>
