<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c %d{yyyy-MM-dd-HH:mm:ss,SSS} - %m%n " />
		</layout>
	</appender>
	
	<appender name="stdout" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/Users/liqian/temp/stdout.log" />
		<!-- 
		<param name="File" value="/data/jinwanr/www/logs/stdout.log" />
		 -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %d{yyyy-MM-dd-HH:mm:ss,SSS} - %m%n " />
		</layout>
	</appender>
	
	<appender name="designer_stdout" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/Users/liqian/temp/stdout.log" />
		<!-- 
		<param name="File" value="/data/jinwanr/www/logs/designer_stdout.log" />
		 -->
		 <param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %d{yyyy-MM-dd-HH:mm:ss,SSS} - %m%n " />
		</layout>
	</appender>
	
	<appender name="spring_stdout" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/Users/liqian/temp/stdout.log" />
		<!-- 
		<param name="File" value="/data/jinwanr/www/logs/spring_stdout.log" />
		 -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c %d{yyyy-MM-dd-HH:mm:ss,SSS} - %m%n " />
		</layout>
	</appender>
	
	
	
	<!-- Application Loggers -->
	<logger name="com.bruce.designer">
		<level value="debug" />
		<appender-ref ref="designer_stdout"/>
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework">
		<level value="info" />
		<appender-ref ref="spring_stdout"/>
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="stdout" />
	</root>
	
</log4j:configuration>
