<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"> 
		<property name="basenames"> <list> <value>config</value> </list> </property> 
		</bean> -->


	<!-- 验证码 -->
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
		<property name="config">
			<bean class="com.google.code.kaptcha.util.Config">
				<constructor-arg>
					<props>
						<prop key="kaptcha.border">no</prop>
						<!-- <prop key="kaptcha.border.color">105,179,90</prop> -->
						<!-- <prop key="kaptcha.border.thickness ">2</prop> -->
						<!--
						<prop key="kaptcha.textproducer.char.string">中国最专业珠宝玛瑙翡翠玉石原创首饰钻银金玩儿网现代鉴赏交流定制分享</prop> 
						<prop key="kaptcha.textproducer.font.names">微软雅黑,宋体,楷体</prop>
						<prop key="kaptcha.textproducer.font.color">blue</prop> 
						-->
						<prop key="kaptcha.image.width">90</prop> 
						<prop key="kaptcha.image.height">36</prop>
						<prop key="kaptcha.textproducer.font.size">28</prop>
						<prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>
						<prop key="kaptcha.session.key">code</prop>
						<prop key="kaptcha.textproducer.char.length">5</prop>
					</props>
				</constructor-arg>
			</bean>
		</property>
	</bean>
</beans>
