<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<mappers>
		<mapper resource="com/bruce/designer/admin/bean/mapper/security/AdminUserMapper.xml" />
		<mapper resource="com/bruce/designer/admin/bean/mapper/security/AdminUserRoleMapper.xml" />
		<mapper resource="com/bruce/designer/admin/bean/mapper/security/AdminRoleMapper.xml" />
		<mapper resource="com/bruce/designer/admin/bean/mapper/security/AdminRoleMenuMapper.xml" />
		<mapper resource="com/bruce/designer/admin/bean/mapper/security/AdminMenuMapper.xml" />
	</mappers>

</configuration>
