<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	
	<!-- command map -->
	<util:map id="apiCommandMap" key-type="java.lang.String"
		value-type="com.bruce.foundation.macp.api.command.ApiCommand">
		<!-- 登录部分 -->
		<entry key="systemCheck.cmd" value-ref="systemCheckCommand" />
		<entry key="guestLogin.cmd" value-ref="guestLoginCommand" />
		<!-- 微博登录 -->
		<entry key="weiboLogin.cmd" value-ref="weiboLoginCommand" />
		<entry key="weibo2Login.cmd" value-ref="weiboLoginTempCommand" />
		<!-- 微信登录 -->
		<entry key="weixinLogin.cmd" value-ref="weixinLoginCommand" />
		<entry key="oauthRegiste.cmd" value-ref="OAuthRegisteCommand" />
		<entry key="oauthBind.cmd" value-ref="OAuthBindCommand" />
		
		
		<!-- 业务command -->
		<entry key="recommendAlbum.cmd" value-ref="recommendAlbumCommand" />
		<entry key="latestAlbum.cmd" value-ref="latestAlbumCommand" />
		<entry key="followAlbum.cmd" value-ref="followAlbumCommand" />
		<entry key="albumInfo.cmd" value-ref="albumInfoCommand" />
		<entry key="albumComments.cmd" value-ref="albumCommentsCommand" />
		
		<entry key="userInfo.cmd" value-ref="userInfoCommand" />
		<entry key="uploadAvatar.cmd" value-ref="uploadAvatarCommand" />
		
		<entry key="userFans.cmd" value-ref="userFansCommand" />
		<entry key="userFollows.cmd" value-ref="userFollowsCommand" />
		<!-- 我的收藏列表api -->
		<entry key="favoriteAlbums.cmd" value-ref="favoriteAlbumsCommand" />
		<!-- 我的消息列表api -->
		<entry key="messageBox.cmd" value-ref="messageBoxCommand" />
		<entry key="messageList.cmd" value-ref="messageListCommand" /> 
		
		
		<!-- 收藏操作api -->
		<entry key="postFavorite.cmd" value-ref="postFavoriteCommand" />
		<!-- 赞操作api -->
		<entry key="postLike.cmd" value-ref="postLikeCommand" />
		<!-- 评论操作api -->
		<entry key="postComment.cmd" value-ref="postCommentCommand" />
		<!-- 关注操作api -->
		<entry key="postFollow.cmd" value-ref="postFollowCommand" />
		<!-- 聊天操作api -->
		<entry key="postChat.cmd" value-ref="postChatCommand" />
		
		<!-- 热门设计师操作api -->
		<entry key="hotDesigners.cmd" value-ref="hotDesignersCommand" />
		<entry key="hotAlbums.cmd" value-ref="hotAlbumsCommand" />
		
		<!-- push设置 -->
		<entry key="bindPushToken.cmd" value-ref="bindPushTokenCommand" />
		<entry key="pushSettings.cmd" value-ref="pushSettingsCommand" />
		
	</util:map>

	<!-- ticket is un necessary -->
	<util:set id="ticketUnnecessaryApiSet" value-type="java.lang.String">
		<value>systemCheck.cmd</value>
		<value>guestLogin.cmd</value>
		<value>weiboLogin.cmd</value>
		<value>weibo2Login.cmd</value>
		
		<value>weixinLogin.cmd</value>
		
		
		<value>oauthRegiste.cmd</value>
		<value>oauthBind.cmd</value>
		
		<value>test.cmd</value>

		<!-- batch apis -->
		<!-- <value>batch.batchRun</value>

		<value>sys.statLog</value>

		<value>account.x2Login</value>

		<value>feed.getAdFeeds</value>

		<value>search.searchAdUsers</value>
 -->
	</util:set>
	
	<!-- 测试command -->
	<bean id="testCommand" class="com.bruce.foundation.macp.api.command.test.TestCommand">
		<property name="passportService" ref="passportService"></property>
	</bean>

</beans>